.a-banner{
    background-image: url(https://wallpaperaccess.com/full/186244.jpg);
    width: 100%;
    background-size: cover;
    padding: 100px 0 100px 0;
    background-repeat: no-repeat;
    box-shadow: inset -1px 20px 1000px 100px #006fff57;
    background-position:center center ;
}
section.a-banner h1 {
    font-size: 70px;
    font-weight: 700;
    font-family: 'barlow',sans-serif;
    text-transform: uppercase;
    color: #ffffff;
}